{% extends "base.html" %}

{% block content %}
    
    <h1>Add New Blog Entry</h1>
    <form method='post'>
        
        <!-- Blog Title -->
        <label>
            Title for new blog entry:
            <input type="text" name='title' value='{{title}}'/>
        </label>
        <p class="error">{{title_error}}</p>
        
        <!-- Blog Text -->
        <label for="blog">Blog text:
            <textarea id="blog" type="text" name='body'>{{blog}}</textarea>
            
        </label>
        <p class="error">{{blog_error}}</p>
        
        <!-- Blog Text -->
        <input type="submit" value='Add Blog Entry' />

    </form>
    
{% endblock %}